In [1]:
import pandas as pd

In [2]:
from google.colab import drive
import pandas as pd
drive.mount('/content/drive')

Mounted at /content/drive

In [30]:
import glob
def preprocessing(input_path,start):
  all_input_list = sorted(glob.glob(input_path))
  train = pd.DataFrame()
  casee = start
  for datapath in all_input_list:
    casee += 1
    data = pd.read_csv(datapath) 
    data['obs_time'] = data.index % 24 
    data = abs(data)
    col_list = data.columns
    for i in range(0,len(col_list)):
      col = col_list[i]    
      if '누적' in col :
        data[col] = data.groupby((data.obs_time == 0).cumsum()).agg(col_list[i-1]).cumsum()
    data['Case'] = casee
    train = pd.concat([train,data])
  return train

In [31]:
input_path1 = '/content/drive/MyDrive/dacon/gan/상추/train_input/*.csv'
input_path2 = '/content/drive/MyDrive/dacon/gan/상추/test_input/*.csv'

In [ ]:
train = preprocessing(input_path1,0)
test = preprocessing(input_path2,30)

In [34]:
train

,DAT,obs_time,내부온도관측치,내부습도관측치,co2관측치,ec관측치,시간당분무량,일간누적분무량,시간당백색광량,일간누적백색광량,시간당적색광량,일간누적적색광량,시간당청색광량,일간누적청색광량,시간당총광량,일간누적총광량,Case
0,0,0,25.300000,81.835000,536.016667,1.407439,0.0,0.00,0.0000,0.000,0.0,0.0000,0.0,0.0000,0.0000,0.0000,1
1,0,1,25.680357,81.264286,528.696429,1.409003,126.0,126.00,0.0000,0.000,0.0,0.0000,0.0,0.0000,0.0000,0.0000,1
2,0,2,25.273333,81.471666,532.833333,1.406913,0.0,126.00,0.0000,0.000,0.0,0.0000,0.0,0.0000,0.0000,0.0000,1
3,0,3,25.355000,81.398334,545.566667,1.406689,126.0,252.00,0.0000,0.000,0.0,0.0000,0.0,0.0000,0.0000,0.0000,1
4,0,4,25.391667,81.483333,558.583333,1.411070,0.0,252.00,0.0000,0.000,0.0,0.0000,0.0,0.0000,0.0000,0.0000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,27,19,26.030000,58.736667,448.500000,1.195415,0.0,2543.12,12.3764,146722.222,0.0,22253.7504,0.0,10462.6535,12.3764,179438.6259,28
668,27,20,27.341666,58.373334,449.183333,1.190780,126.0,2669.12,0.0000,146722.222,0.0,22253.7504,0.0,10462.6535,0.0000,179438.6259,28
669,27,21,27.785000,58.711667,441.933333,1.185593,0.0,2669.12,0.0000,146722.222,0.0,22253.7504,0.0,10462.6535,0.0000,179438.6259,28
670,27,22,28.480000,58.121667,437.600000,1.179664,0.0,2669.12,0.0000,146722.222,0.0,22253.7504,0.0,10462.6535,0.0000,179438.6259,28
671,27,23,28.595000,58.598333,430.266667,1.175694,0.0,2669.12,0.0000,146722.222,0.0,22253.7504,0.0,10462.6535,0.0000,179438.6259,28

In [64]:
train[train['Case']==1].describe([0.2, 0.5, 0.8])

,DAT,obs_time,내부온도관측치,내부습도관측치,co2관측치,ec관측치,시간당분무량,일간누적분무량,시간당백색광량,일간누적백색광량,시간당적색광량,일간누적적색광량,시간당청색광량,일간누적청색광량,시간당총광량,일간누적총광량,Case
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.0,672.0,672.000000,672.000000,672.0
mean,13.500000,11.500000,26.621507,80.173990,583.119022,1.358288,166.631295,1967.406577,10648.690474,122001.375949,569.536850,6524.930575,0.0,0.0,11218.227324,128526.306524,1.0
std,8.083764,6.927343,1.416593,3.165135,108.557574,0.325159,101.001831,1416.596096,8939.244888,99907.824823,478.062066,5343.405986,0.0,0.0,9417.302920,105251.227179,0.0
min,0.000000,0.000000,25.081667,74.201665,464.433333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1.0
20%,5.000000,4.000000,25.363548,75.997667,523.203333,1.395578,0.000000,252.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1.0
50%,13.500000,11.500000,26.088334,81.455000,556.233333,1.429395,245.570000,1877.140000,18255.190000,117885.210000,976.332000,6303.960600,0.0,0.0,19231.522000,124189.998000,1.0
80%,22.000000,19.000000,28.147000,82.971334,597.330000,1.448858,252.000000,3674.548000,18255.190000,254480.442700,976.332000,13611.391920,0.0,0.0,19231.522000,268089.517900,1.0
max,27.000000,23.000000,30.918333,85.366666,1264.366667,1.686377,252.000000,4125.850000,18564.600000,256324.526300,992.880000,13708.363200,0.0,0.0,19557.480000,270032.889500,1.0

In [65]:
train[train['Case']==2].describe([0.2, 0.5, 0.8])

,DAT,obs_time,내부온도관측치,내부습도관측치,co2관측치,ec관측치,시간당분무량,일간누적분무량,시간당백색광량,일간누적백색광량,시간당적색광량,일간누적적색광량,시간당청색광량,일간누적청색광량,시간당총광량,일간누적총광량,Case
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.00000,672.000000,672.0,672.0,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.0
mean,13.500000,11.500000,26.261791,66.059677,611.128301,2.958210,92.55000,1156.875000,0.0,0.0,2433.038650,27911.482050,2303.214227,26422.057594,4736.252877,54333.539644,2.0
std,8.083764,6.927343,2.650880,12.719493,48.071282,1.583508,30.87298,724.967419,0.0,0.0,2285.408341,23761.332217,2163.458294,22493.440354,4448.866630,46254.772567,0.0
min,0.000000,0.000000,13.238833,15.825383,487.478333,0.000000,61.70000,61.700000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
20%,5.000000,4.000000,24.185333,54.455667,577.793333,1.165051,61.70000,308.500000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
50%,13.500000,11.500000,26.322500,69.824167,618.225000,3.369421,92.55000,1172.300000,0.0,0.0,2389.531200,26622.422400,2262.026000,25201.852000,4651.557200,51824.274400,2.0
80%,22.000000,19.000000,28.318000,77.975001,643.346667,4.044751,123.40000,1974.400000,0.0,0.0,4881.660000,58367.112720,4621.175000,55252.648100,9502.835000,113619.760820,2.0
max,27.000000,23.000000,33.031666,81.901667,921.433333,5.462324,123.40000,2221.200000,0.0,0.0,4964.400000,58407.820800,4699.500000,55291.184000,9663.900000,113697.438300,2.0

In [66]:
train[train['Case']==3].describe([0.2, 0.5, 0.8])

,DAT,obs_time,내부온도관측치,내부습도관측치,co2관측치,ec관측치,시간당분무량,일간누적분무량,시간당백색광량,일간누적백색광량,시간당적색광량,일간누적적색광량,시간당청색광량,일간누적청색광량,시간당총광량,일간누적총광량,Case
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.00000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.0
mean,13.500000,11.500000,18.511225,56.059482,710.079786,1.978882,103.990640,1247.718021,7701.58785,87388.112055,682.186375,6917.083700,1158.375466,12552.854031,9542.149690,106858.049786,3.0
std,8.083764,6.927343,3.549785,10.000775,338.647000,0.238027,93.713533,1353.040122,8490.52880,80817.742343,821.677511,6906.140205,1413.476880,12126.998733,10577.919555,99642.598186,0.0
min,0.000000,0.000000,13.781081,30.831034,365.900000,1.661790,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
20%,5.000000,4.000000,14.766333,44.371238,430.078039,1.763417,0.000000,221.080000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
50%,13.500000,11.500000,18.324516,57.695667,569.241667,1.899998,61.700000,732.670000,6.18820,77661.910000,0.000000,4950.334200,0.000000,10082.777250,6.188200,97057.994000,3.0
80%,22.000000,19.000000,21.978667,65.505000,1035.406667,2.217753,213.420000,2383.762000,18255.19000,181464.014440,1499.248800,13961.547600,3101.670000,26693.786600,22665.267220,221578.652220,3.0
max,27.000000,23.000000,27.388333,73.689999,1714.850000,2.607908,378.000000,5293.090000,18564.60000,206803.455800,2669.192400,17554.118400,3623.314500,29929.549000,24029.706900,254239.996000,3.0

In [95]:
train[train['Case']==4].describe([0.2, 0.5, 0.8])

,DAT,obs_time,내부온도관측치,내부습도관측치,co2관측치,ec관측치,시간당분무량,일간누적분무량,시간당백색광량,일간누적백색광량,시간당적색광량,일간누적적색광량,시간당청색광량,일간누적청색광량,시간당총광량,일간누적총광량,Case
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.0
mean,13.500000,11.500000,21.094553,68.182473,544.483278,1.455223,831.072827,9951.368542,8530.267945,100618.069267,723.871575,7589.939663,1233.283071,13727.948155,10487.422591,121935.957084,4.0
std,8.083764,6.927343,4.112541,7.864664,99.095637,0.271343,605.690876,7039.688511,8500.559436,84557.487966,805.394125,7129.779795,1399.632614,12584.345432,10528.756860,104139.356754,0.0
min,0.000000,0.000000,0.000000,0.000000,362.316667,0.003096,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.0
20%,5.000000,4.000000,17.366999,63.433299,475.670000,1.267961,0.000000,2580.890000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.0
50%,13.500000,11.500000,19.611667,70.075000,543.691667,1.539062,1177.920000,9235.660000,4324.004750,90759.235300,196.093800,5070.307200,185.630250,10642.801000,4696.255700,105915.370200,4.0
80%,22.000000,19.000000,26.696333,74.122999,588.793333,1.626799,1357.960000,17537.494000,18255.190000,206107.283300,1495.939200,17469.723600,2994.521400,29779.165000,22381.119100,253385.935400,4.0
max,27.000000,23.000000,28.547358,79.758333,1311.500000,2.877361,1921.200000,23921.220000,18564.600000,206837.490900,2634.441600,17559.082800,3566.920500,29935.815000,23637.426100,254309.221500,4.0

In [39]:
train[train['Case']==5].describe([0.2, 0.5, 0.8])

,DAT,obs_time,내부온도관측치,내부습도관측치,co2관측치,ec관측치,시간당분무량,일간누적분무량,시간당백색광량,일간누적백색광량,시간당적색광량,일간누적적색광량,시간당청색광량,일간누적청색광량,시간당총광량,일간누적총광량,Case
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.0,672.0,672.0,672.0,672.000000,672.000000,672.0
mean,13.500000,11.500000,24.598492,77.147350,451.002114,1.761784,427.599702,5281.163690,9142.835284,103854.857003,0.0,0.0,0.0,0.0,9142.835284,103854.857003,5.0
std,8.083764,6.927343,1.866828,3.101091,38.250446,0.778788,343.605585,4230.962649,8988.256801,96115.844806,0.0,0.0,0.0,0.0,8988.256801,96115.844806,0.0
min,0.000000,0.000000,21.916667,69.688332,359.966667,0.000000,0.000000,126.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,5.0
25%,6.750000,5.750000,22.442916,75.129583,428.395833,1.786645,0.000000,1638.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,5.0
50%,13.500000,11.500000,25.195000,77.659666,448.933333,2.007119,252.000000,3845.000000,10829.350000,85706.570000,0.0,0.0,0.0,0.0,10829.350000,85706.570000,5.0
75%,20.250000,17.250000,26.301667,79.606250,473.541667,2.171118,769.000000,9228.000000,18255.190000,189977.740000,0.0,0.0,0.0,0.0,18255.190000,189977.740000,5.0
max,27.000000,23.000000,27.608334,82.151668,608.833333,2.888630,1538.000000,13842.000000,18564.600000,256191.480000,0.0,0.0,0.0,0.0,18564.600000,256191.480000,5.0

In [108]:
all = pd.concat([train,test])

In [106]:
train[(train['내부온도관측치']>33.1)]['Case'].unique()

array([ 7,  8, 13, 14, 15, 17, 18, 19, 22, 23, 24, 25, 26, 28])

In [157]:
all[  (((all['내부습도관측치']<74.4)&(all['내부습도관측치']>73.6)) | ((all['내부습도관측치']<30)&(all['내부습도관측치']>27)) | ((all['내부습도관측치']<54.5)&(all['내부습도관측치']>54.4))) ]['Case'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 20,
       21, 22, 24, 27, 31, 32, 33, 34, 35])

In [228]:
all[(all['co2관측치']<510.1 )&(all['co2관측치']>=510)]['Case'].unique()

array([ 7, 17, 20, 24])

In [214]:
all[(all['일간누적총광량']>120100)&(all['일간누적총광량']<120500)]['Case'].unique()

array([14, 23])

In [237]:
all[(all['시간당분무량']>2100)|((all['시간당분무량']>1200)&(all['시간당분무량']<1300))]['Case'].unique()

array([ 4,  9, 10, 11, 13, 14, 15, 16, 17, 19, 23, 25, 27, 28, 31, 34])

In [244]:
all[(all['내부온도관측치']>31.124)&(all['내부온도관측치']<31.126)]['Case'].unique()

array([ 8, 18, 22, 28])

In [274]:
all[(all['Case']==16)]['시간당백색광량'].unique()

array([    0.    ,  4291.5167, 13400.5471, 18249.0018, 18255.19  ,
       18255.19  ,  2165.87  ])

In [ ]:
'''
조건

1. co2 관측치 max 값이 578 이상 아닌경우
==> 10 11 13 14 19 22 제거

2. all[  (((all['내부습도관측치']<74.4)&(all['내부습도관측치']>73.6)) | ((all['내부습도관측치']<30)&(all['내부습도관측치']>27)) | ((all['내부습도관측치']<54.5)&(all['내부습도관측치']>54.4))) ]['Case'].unique()
==> 17 18 19 23 25 26 제거

3. all[(all['일간누적분무량']<150)]['Case'].unique()
==> 6 7 11 12 13 14 제거

4. all[(all['시간당분무량']>2100)]['Case'].unique() 이 존재하지 않는 경우
==> 9, 10, 11, 13, 14, 15, 17, 19, 23, 25, 27 제거

5. all[(all['내부온도관측치']>31.124)&(all['내부온도관측치']<31.126)]['Case'].unique() 이 아닌경우
==> 8, 18, 22, 28 제거

6. all[(all['co2관측치']<510.1 )&(all['co2관측치']>=510)]['Case'].unique() 이 아닌경우
==> 7, 17, 20, 24 제거

7. all[(all['시간당백색광량']>3094.0)&(all['시간당백색광량']<3094.2)]['Case'].unique() 이 아닌경우
==> 21 제거

8. all[(all['시간당백색광량']>13400)&(all['시간당백색광량']<13400.5472)]['Case'].unique() 이 아닌경우
==> 6,  7,  8, 10, 16 제거

'''

In [277]:
all[(all['시간당백색광량']>13400)&(all['시간당백색광량']<13400.5472)]['Case'].unique()

array([ 6,  7,  8, 10, 16])

In [101]:
test[(test['내부온도관측치']>38)]['Case'].unique()

array([35])

In [233]:
test[test['Case']==35].describe([0.2, 0.5, 0.6])

,DAT,obs_time,내부온도관측치,내부습도관측치,co2관측치,ec관측치,시간당분무량,일간누적분무량,시간당백색광량,일간누적백색광량,시간당적색광량,일간누적적색광량,시간당청색광량,일간누적청색광량,시간당총광량,일간누적총광량,Case
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.0
mean,13.500000,11.500000,27.925414,53.062238,461.317911,0.244121,127.158988,1518.758021,7406.418997,86597.891807,443.092400,5157.009362,208.372473,2422.473364,8057.883871,94177.374533,35.0
std,8.083764,6.927343,3.913861,5.947104,59.643363,0.379405,100.422682,1128.771640,7613.319296,75987.114870,786.665706,8251.310206,371.495069,3881.477836,8089.686995,80504.153310,0.0
min,0.000000,0.000000,23.061667,32.230000,361.816667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.0
20%,5.000000,4.000000,24.556334,46.974000,413.870000,0.000000,0.000000,252.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.0
50%,13.500000,11.500000,27.190000,56.217500,449.741667,0.000000,126.000000,1489.495000,4204.881900,76127.236400,0.000000,0.000000,0.000000,0.000000,4214.164200,90508.613200,35.0
60%,16.000000,14.000000,27.588333,56.614333,462.483333,0.000000,126.000000,1967.132000,12778.633000,114424.149740,0.000000,0.000000,0.000000,0.000000,15636.662120,126991.765120,35.0
max,27.000000,23.000000,42.263333,59.758333,700.800000,0.937101,252.000000,3835.270000,18255.190000,209764.509500,1985.760000,22336.490400,939.900000,10500.249500,18255.190000,209764.509500,35.0

In [10]:
train[(train['Case']<6)&(train['내부습도관측치'])]

,DAT,obs_time,내부온도관측치,내부습도관측치,co2관측치,ec관측치,시간당분무량,일간누적분무량,시간당백색광량,일간누적백색광량,시간당적색광량,일간누적적색광량,시간당청색광량,일간누적청색광량,시간당총광량,일간누적총광량,Case
0,0,0,25.300000,81.835000,536.016667,1.407439,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
24,1,0,25.806666,81.765000,523.216667,1.390210,126.00,126.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
48,2,0,26.098334,81.778334,516.416667,1.385905,119.57,119.57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
72,3,0,25.438333,81.058333,531.450000,1.396743,126.00,126.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
96,4,0,25.470000,81.300001,543.600000,1.409774,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552,23,0,30.368333,59.128333,497.500000,1.124471,1677.67,1677.67,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17
576,24,0,23.680000,58.280000,450.450000,1.191804,119.57,119.57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17
600,25,0,24.028333,58.651667,479.033333,1.196850,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17
624,26,0,24.050000,58.921667,477.116667,1.184031,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17
648,27,0,28.641667,58.953333,429.433333,1.138096,126.00,126.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17